/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
  }
  
  /* Utils */
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex.row-reverse {
    flex-direction: row-reverse;
  }
  
  
  
  .bg-white {
    background-color: white;
  }
  
  .bg-gray {
    background-color: lightgray;
  }
  
  header {
    background-image: url(img/jumbo.png);
    background-size: cover;
  }
  
  /* # Navbar */
  
  .navbar {
    height: 80px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar > * {
    padding: 10px;
    flex-basis: 20%;
  }
  
  .navbar-menu {
    flex-grow: 1;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
  }
  
  .navbar-actions {
    text-align: right;
  }
  
  .btn {
    border-radius: 30px;
    padding: 4px;
    font-size: 11px;
    font-weight: 600;
    border: none;
  }
  .btn .login {
    background-color: white;

  }


  .login a {
    color: black;
  }
  

  /* # Jumbotron */
  
  .jumbotron {
    padding: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  
  .jumbotron .content {
    width: 42%;
    /* height: 100%; */
    /* margin: 0 auto; */
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 35px;
  }

  .header {
    line-height: 25px;
    padding-bottom: 30px;
  }
  
  .btn-mac, .btn-browser {
    border: none;
    padding: 15px;
    border-radius: 18px;
    font-size: 14px;
  }
  
  .content .btn-mac {
    background-color: white;
    margin-right: 30px;
  }
  .content .btn-mac a {
    color: black;
  }

  .btn-browser {
    background-color: #23272a;
    color: white;
  }

  .fa-arrow-down-long {
    padding-right: 8px;
  }

  /* # Main & sections */
  section {
    padding: 50px;
    height: 600px;
  }

  section > .container {
    height: 100%;
  }
  
  .flex > .small-col {
    flex-basis: 32%;
    padding: 36px;
  }
   
  h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
  } 
  
  p {
    font-weight: 600;
    padding-top: 20px;
    line-height: 25px;
  }
  .flex > .large-col {
    flex-basis: 60%;
  }
  
  section:last-child {
    height: 900px;
  }
  .flex > .full-col {
    flex-basis: 100%;
    text-align: center;
  }
  
  .container-content {
    max-width: 71%;
    margin: auto;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 27px;
  }
  /* # Footer */
  
  footer {
    padding: 50px;
    background-color: #23272a;
    /* color: white; */
  }
  
  .footer-top {
    height: 600px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #8ea1e1;
  
    display: flex;
  }
  
  .footer-top .footer-left {
    flex-basis: 30%;
  }
  
  .footer-left h2 {
    color: #7289da;
  }

  .language {
    height: 50px;
    margin-top: 30px;
  }

  #nation {
    height: 20px;
    width: 30px;
    line-height: 50px;
    vertical-align: middle;
  }
  
  #choose-language{
    background-color: transparent;
    color: white;
    border: none;
    vertical-align: middle;
    vertical-align: middle;
    text-align: end;
    margin-left: -20px
  }
  
  .fa-brands {
    padding-right: 20px;
    color: white;
    font-size: 20px;
  }

  .footer-top .footer-right {
    flex-basis: 70%;
  }

  ul {
    list-style-type: none;
  }
  
  li {
    padding: 5px;
    color: white;
    font-weight: 600;
    line-height: 30px;
  }

  li h4 {
    color: #7289da;
  }
  .footer-nav {
    height: 100%;
    display: flex;
    /* background-color: #fff; */
  }
  
  .footer-nav > div {
    flex-basis: 25%;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .footer-bottom > * {
    padding: 5px 10px;
  }
  
  .full-col .btn-mac {
    background-color: #8ea1e1;
  }
  
  .signup {
    background-color: #8ea1e1;
  }
